.container-estante body{
    background-color: #F4F2EF;
}

.container-estante {
    display: flex;

    margin-top: 2vw;
}
.container-estante .bigPicture {
    background: #ffffff;
    width: 80vw;
    padding: 2vw 2vw;

    border-radius: 1vw;

    margin: 0vw 2vw 2vw 2vw;

}

.container-estante .estanteContent{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-estante .line {
    display: flex;
    justify-content: start;

    padding: 20px 0px;

    flex-wrap: wrap;
}

.container-estante .pequeno{
    scale: 1 !important;
    margin-right: 1%;
    margin-bottom: 5%;
}

.container-estante{
    display: flex;
    justify-content: center;
}


@media (max-width: 780px) {
    .container-estante .line{
        justify-content: space-between;

    }

    .container-estante .pequeno{
        margin-right: 0px;
    }
}