.homeContent button{
    padding: 0;
    transition: 0.7s;
}

.homeContent button:hover{
    background-color: #d4833e;
    scale: 1.05;
}

.homeContent .container-editorial-section {
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 8vw;
    margin: auto;

    box-sizing: border-box;

}

.homeContent .container-editorial-section h3 {
    font-size: 2.5vw;
    color: #333;
    font-weight: bold;
}

.homeContent .container-editorial-section p {
    max-width: 50vw; /* Limita o tamanho do texto */
    line-height: 1.;
    font-size: 1.2vw;
    font-weight: 500;
    color: #565A61;
}

.homeContent .container-livros .visite-paragraph {
    max-width: 50vw;
}

.homeContent .container-livros button:hover {
    background-color: #d4833e;
}

.homeContent .container-editorial-section button {
    background-color: #EB973E;
    color: #2E2E2E;
    border: none;
    padding: 1.26vw 70px;
    font-size: 1.2vw;
    font-weight: bold;
    border-radius: 1.16vw;
    cursor: pointer;
    margin-top: 2vw;

    transition: 0.7s;
}

.homeContent .container-editorial-section button:hover {
    background-color: #d4833e;
}

.homeContent .container-editorial-section img {
    width: 70vw; /* Ocupa o máximo do contêiner */
    max-width: 70vw; /* Aumenta o tamanho máximo */
    height: auto; /* Mantém a proporção correta */
    border-radius: 1.2vw;
    padding: 0;
    padding-left: 20vw;
    margin: 0;
}

.homeContent .container-recomendacoes {
    background-color: rgba(233, 233, 233, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 0;
    max-width: 100vw;
    overflow: hidden; /* Impede que o conteúdo saia da tela */
}

.homeContent .cards-recomendacoes {
    display: flex;
    gap: 1.5vw;
    overflow-x: auto;
    padding: 1vw 20vw;
    scroll-behavior: smooth; /* Adiciona rolagem suave */
    white-space: nowrap; /* Evita que os itens quebrem para a linha de baixo */
    max-width: 100%;
}

.homeContent .cards-recomendacoes::-webkit-scrollbar {
    height: 0.5vw;
}

.homeContent .cards-recomendacoes::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 0.4vw;
}

.homeContent .cards-recomendacoes > * {
    flex: 0 0 auto;
    min-width: 30vw;
    max-width: 30vw;
    background: white;
    padding: 2vw;
    font-size: 1.254vw;
    
    border-radius: 1vw;
    justify-content: center;
    flex-direction: center;
    white-space: normal; /* Permite quebra de linha dentro dos cards */
}

.homeContent .recomendacoes-title{
    font-size: 1.9vw;
    text-align: center; /* Centraliza o texto */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    margin: 0;
}

.homeContent .recomendacoes-paragraph{
    font-size: 1.2vw; 
    padding-bottom: 1vw;
    text-align: center ;
    line-height: 1.5;
    font-weight: 400;
    max-width: 100vw;
}

.homeContent .Banner {
    background-image: url(../assets/img/Banner.svg);
    width: 100vw; /* Largura total */
    max-width: 100vw;
    height: 40vw; /* Altura do banner */
    padding-top: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-start; /* Alinha o texto à esquerda */
    padding-left: 8vw; /* Distância do texto para a borda esquerda */
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Título do banner */
.homeContent .banner-title {
    font-size: 3.2vw;
    max-width: 60vw; /* Limita a largura do texto */
    font-weight: 500;
    line-height: 1;
}

/* Parágrafo do banner */
.homeContent .banner-paragraph {
    font-size: 1.26vw;
    max-width: 30vw; /* Limita o tamanho do texto */
    line-height: 1.5;
    margin-top: 1vw;
    font-weight: 300;
}

/* Botão */
.homeContent .banner-button {
    display: inline-block;
    background-color: #FFB363;
    color: #2E2E2E;
    font-size: 1.21vw;
    padding: 1.12vw 10vw;
    border-radius: 1.16vw;
    border: 0.02vw solid #EB973E;
    text-decoration: none;
    margin-top: 1.20vw;
    font-weight: 600;
    cursor: pointer;
}

.homeContent .visite-title {
    font-size: 3vw;
    padding-top: 5vw;
    padding-bottom: 1.50vw;
    margin: 0;
}

.homeContent .visite-paragraph{
    font-size: 1.25vw;
    padding-bottom: 1.35vw;
    margin: 0;
    margin-bottom: 2em;
}

.homeContent .cards-recomendacoes{
    padding: 0 5vw 0 10vw;
}

.homeContent .container-livros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent .container-livros p{
    text-align: center;
}

.homeContent .container-livros .livros{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.homeContent .container-livros button{
    margin-top: 6vw;
    margin-bottom: 6vw;
    font-size: 1.21vw;
    width: 30vw;
    height: 4vw;
    border-radius: 1.16vw;
    border-width: 2px;
    border-style: solid;
    background: #FFB363;
    border-color: #EB973E;
    color: #2E2E2E;
    font-weight: 600;
    cursor: pointer;
}

.homeContent .container-recomendacoes .recomendacoes-paragraph{
    width: 80vw;
}

/* -------- MEDIA QUERIES -------- */

@media (max-width: 360px) {
    .homeContent .Banner{
        height: 100vw; /* Altura do banner */
        background-position: -300px;
    }

    .homeContent .Banner .textos{
        max-width: 100vw;
        max-height: 80vw;
    }

    .homeContent .Banner .banner-title{
        font-size: 1.2em;
    }

    .homeContent .Banner .banner-paragraph{
        font-size: 0.7em;
        max-width: 70vw;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 1em;
    }

    .homeContent .container-editorial-section p{
        font-size: 0.6em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 1.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 0.8em;
        max-width: 80vw;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 1.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 0.6em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 361px) and (max-width: 560px){
    .homeContent .Banner{
        height: 80vw; /* Altura do banner */
        background-position: -330px;
    }

    .homeContent .Banner .textos{
        width: 50vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 1.2em;
    }

    .homeContent .Banner p{
        font-size: 0.7em;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 1em;
    }

    .homeContent .container-editorial-section p{
        font-size: 0.6em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 1.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 0.8em;
        max-width: 80vw;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 1.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 0.6em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 561px) and (max-width: 724px) {
    .homeContent .Banner{
        height: 80vw; /* Altura do banner */
        background-position: -400px;
    }

    .homeContent .Banner .textos{
        width: 60vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 3em;
        max-width: 60vw;
    }

    .homeContent .Banner p{
        font-size: 1.4em;
        max-width: 60vw;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 1.2em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 2.2em;
    }

    .homeContent .container-editorial-section p{
        font-size: 1.2em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 1.3em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 2.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 1.2em;
        max-width: 80vw;
    }

    .homeContent .container-livros p, .homeContent .container-livros a {
        font-size: 1.2em;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 2.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 1.2em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 725px) and (max-width: 891px) {
    .homeContent .Banner{
        height: 80vw; /* Altura do banner */
        background-position: -550px;
    }

    .homeContent .Banner .textos{
        width: 50vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 3em;
    }

    .homeContent .Banner p{
        font-size: 1.4em;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 1.2em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 2.2em;
    }

    .homeContent .container-editorial-section p{
        font-size: 1.2em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 1.3em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 2.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 1.2em;
        max-width: 80vw;
    }

    .homeContent .container-livros p, .homeContent .container-livros a {
        font-size: 1.2em;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 2.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 1.2em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}
