/*.homeContent button{
    padding: 0;
    transition: 0.7s;
}

.homeContent button:hover{
    background-color: #d4833e;
    scale: 1.05;
}






.homeContent .container-editorial-section img {
    width: 70vw; 
    max-width: 70vw; 
    height: auto; 
    border-radius: 1.2vw;
    padding: 0;
    padding-left: 20vw;
    margin: 0;
}


.homeContent .container-recomendacoes .recomendacoes-paragraph{
    width: 80vw;
}

*/

/*



@media (max-width: 360px) {
    .homeContent .Banner{
        height: 100vw; 
        background-position: -300px;
    }

    .homeContent .Banner .textos{
        max-width: 100vw;
        max-height: 80vw;
    }

    .homeContent .Banner .banner-title{
        font-size: 1.2em;
    }

    .homeContent .Banner .banner-paragraph{
        font-size: 0.7em;
        max-width: 70vw;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 1em;
    }

    .homeContent .container-editorial-section p{
        font-size: 0.6em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 1.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 0.8em;
        max-width: 80vw;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 1.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 0.6em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 361px) and (max-width: 560px){
    .homeContent .Banner{
        height: 80vw; 
        background-position: -330px;
    }

    .homeContent .Banner .textos{
        width: 50vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 1.2em;
    }

    .homeContent .Banner p{
        font-size: 0.7em;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 1em;
    }

    .homeContent .container-editorial-section p{
        font-size: 0.6em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 0.6em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 1.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 0.8em;
        max-width: 80vw;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 1.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 0.6em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 561px) and (max-width: 724px) {
    .homeContent .Banner{
        height: 80vw; 
        background-position: -400px;
    }

    .homeContent .Banner .textos{
        width: 60vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 3em;
        max-width: 60vw;
    }

    .homeContent .Banner p{
        font-size: 1.4em;
        max-width: 60vw;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 1.2em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 2.2em;
    }

    .homeContent .container-editorial-section p{
        font-size: 1.2em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 1.3em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 2.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 1.2em;
        max-width: 80vw;
    }

    .homeContent .container-livros p, .homeContent .container-livros a {
        font-size: 1.2em;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 2.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 1.2em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

@media (min-width: 725px) and (max-width: 891px) {
    .homeContent .Banner{
        height: 80vw; 
        background-position: -550px;
    }

    .homeContent .Banner .textos{
        width: 50vw;
        max-height: 80vw;
    }

    .homeContent .Banner h1{
        font-size: 3em;
    }

    .homeContent .Banner p{
        font-size: 1.4em;
    }

    .homeContent .Banner button{
        width: 30vw;
        height: 6vw;
        font-size: 1.2em;
        padding: 0;
    }

    .homeContent .container-editorial-section h3{
        font-size: 2.2em;
    }

    .homeContent .container-editorial-section p{
        font-size: 1.2em;
    }

    .homeContent .container-editorial-section button{
        width: 30vw;
        height: 6vw;
        font-size: 1.3em;
        padding: 0;
    }

    .homeContent .livros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContent .livros .pequeno{
        width: 50vw;
        border-radius: 5vw;
    }

    .homeContent .container-livros h3{
        font-size: 2.2em;
        width: 60vw;
        text-align: center;
    }

    .homeContent .container-livros .visite-paragraph{
        font-size: 1.2em;
        max-width: 80vw;
    }

    .homeContent .container-livros p, .homeContent .container-livros a {
        font-size: 1.2em;
    }

    .homeContent .container-livros{
        width: 100vw;
    }

    .homeContent .container-livros button{
        width: 50vw;
        height: 8vw;
        font-size: 2.5vw;
        border-radius: 3vw;
    }

    .homeContent .container-recomendacoes .header-recomendacoes h3{
        font-size: 2.2em;
    }

    .homeContent .container-recomendacoes .header-recomendacoes p{
        font-size: 1.2em;
        width: 80vw;
    }

    .homeContent .cards-recomendacoes > * {
        min-width: 60vw;
        max-width: 60vw;
        padding: 4vw;
        border-radius: 1vw;
    }

    .homeContent .container-editorial-section img{
        width: 80vw;
        max-width: 80vw;
    }
}

*/