section.container-servicos {
   display: flex;
   justify-content: flex-start;
   flex-direction: column; 

}

.container-servicos {
   padding: 2vw 3vw;
}

.container-servicos h1{
   font-size: 3.5vw;
   font-weight: 400;

   color: #2E2E2E;
}


.container-servicos h2{
   font-size: 3.5vw;
   font-weight: bold;

   color: #213E60;
}

.container-servicos h3{
   font-size: 3.5vw;
   font-weight: 400;

   color: #2E2E2E;
}

.container-servicos p{
   font-size: 1.4vw;
   font-weight: 500;

   color: #2E2E2E;
}

.container-servicos ul li{
   font-size: 1.4vw;
   font-weight: 500;

   color: #565A61;
}

.container-servicos .ulExterno ul li{
      color: #565A61;
}

.container-servicos .ulExterno li{
      color: #2E2E2E;
}

.container-servicos .olProcesso ol{
   font-size: 1.4vw;
   font-weight: 500;

   color: #565A61;
}

.container-servicos .olProcesso li{
   font-size: 1.4vw;
   font-weight: 500;

   color: #2E2E2E;
}

@media (min-width: 300px) and (max-width: 700px){

   .container-servicos h1{
      font-size: 6vw;
      font-weight: 400;
   }

   .container-servicos h2{
      font-size: 6vw;
      font-weight: bold;
   }

   .container-servicos h3{
      font-size: 6vw;
      font-weight: 400;
   }

   .container-servicos p{
      font-size: 3vw;
      font-weight: 500;
   }

   .container-servicos ul li{
      font-size: 3vw;
      font-weight: 500;
   }
   

   .container-servicos .olProcesso li{
      font-size: 3vw;
   }
   
}

@media (max-width: 299px){

   .container-servicos h1{
      font-size: 8vw;
      font-weight: 400;
   }

   .container-servicos h2{
      font-size: 8vw;
      font-weight: bold;
   }

   .container-servicos h3{
      font-size: 8vw;
      font-weight: 400;
   }

   .container-servicos p{
      font-size: 3.5vw;
      font-weight: 500;
   }

   .container-servicos ul li{
      font-size: 3.5vw;
      font-weight: 500;
   }

   .container-servicos .olProcesso li{
      font-size: 3vw;
   }
}