.container-sobrenos{
    overflow-x: hidden;
    width: 100%;
}


section.sobreNosContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    padding: 30px 5%;
    max-width: 1200px;

    box-sizing: border-box;
}

.sobreNosContent .textos {
    padding-right: 20px;
}

.sobreNosContent figure {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*Poderia add flex-wrap: wrap; 
    mas como o projeto não tem design para mobile
    achei melhor não descaracterizar o design atual */
}

.sobreNosContent figure img{
    height: 40vw;
    margin-right: 0px;
    object-fit: cover;
}



.sobreNosContent p {
    width: 40vw;
    font-size: 1.5vw;
    font-weight: normal;
}

.sobreNosContent h1{
    font-size: 2.5vw;
    font-weight: bold;
}

@media (max-width: 480px) {

    section.sobreNosContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobreNosContent .textos p{
        width: 80vw;
        font-size: 3vw;
    }

    .sobreNosContent .textos h1{
        width: 80vw;
        font-size: 6vw;
    }

    .sobreNosContent figure img{
        width: 80vw;
        height: auto;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    section.sobreNosContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobreNosContent .textos p{
        width: 80vw;
        font-size: 2.5vw;
    }

    .sobreNosContent .textos h1{
        width: 80vw;
        font-size: 5vw;
    }

    .sobreNosContent figure img{
        width: 80vw;
        height: auto;
    }
}




