header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FCFCFC;
    color: #2A2A2A;

    width: 100vw;
    max-width: 100vw;
}

.header picture img{
    width: 15vw;
    margin-left: 4vw;
}


.header .inputs{
    gap: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 51vw;
}

.header .input-search img {
    position: absolute;
    left: 1vw;
    width: 1vw;
    transition: opacity 0.2s ease;
    z-index: 2;
    margin-right: -1.9vw;
}

.header .input-search {
  position: relative;
  display: flex;
  align-items: center;
}


.header .input-search input{
    width: 25vw;
    height: 3vw;
    border-style: solid;
    border-width: 0.1vw;

    font-size: 80%;
    border-radius: 0.8vw;
    padding-top: 0.1vw;
    border-color: #CACACA;

    margin-right: -2vw;

    padding-left: 10%;
}

.header .input-search input:focus{
    border: 0.01vw solid #4C86AD;; 
    outline: none;          
}

.header select{
    max-width: 5vw;
    height: 3.2vw;
    font-size: 80%;

    border-style: solid;
    border-width: 0.1vw;
    padding-left: 1vw;
    border-radius: 0.8vw;
    color: #7d7d7d;
    background: #fff;
    border-color: #fff;

    z-index: 2;

    opacity: 0%;
}

.header .input-select img{
    position: absolute;
    left: 1vw;
    width: 2vw;
    transition: opacity 0.2s ease;
    margin-right: -1.9vw;
}

.header .input-select{
    position: relative;
    display: flex;
    align-items: center;
} 


.header select:focus{
    border: 0.01vw solid #4C86AD;; 
    outline: none;          
}

.header .profile p a{
    color: #213E60;
    text-decoration: none;
}

.header .profile img{
    width: 2.4vw;
    padding: 1vw;
}

.header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    font-size: 0.9vw;
    width: 20vw;
}


.header .profile p{
    font-size: 1.5vw;
}

@media (max-width: 480px) { 
    .header {
        height: 15vw;
    }

    .header .input-search input{
        height: 8vw;
        width: 50vw;
        border-radius: 3vw;
    }

    .header .input-search img{
        width: 3vw;
    }

    .header .input-select img{
        width: 5vw;
    }

    .header picture img{
        width: 10vw;
    }

    .header .profile img{
        width: 6vw;
    }

    .header .profile p{
        font-size: 3vw;
    }

    .header .profile a{
        text-decoration: none;
        color: #213E60;
    }

}

@media (min-width: 481px) and (max-width: 768px) { 

    .header {
        height: 15vw;
    }

    .header .input-search input{
        height: 8vw;
        width: 50vw;
        border-radius: 3vw;
    }

    .header .input-search img{
        width: 3vw;
    }

    .header .input-select img{
        width: 5vw;
    }

    .header picture img{
        width: 10vw;
    }

    .header .profile img{
        width: 6vw;
    }

    .header .profile p{
        font-size: 3vw;
    }

    .header .profile a{
        text-decoration: none;
        color: #213E60;
    }

}
