.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .title-page figure {
    position: relative;
    width: 100vw;
    overflow: hidden; /* Adicionado para cortar a imagem */
  }
  
  .title-page figure::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 62, 96, 0.85); /* Cor de fundo com opacidade */
    z-index: 1;
  }
  
  .title-page img {
    width: 100%;
    height: 20vw;
    object-fit: cover; /* Adicionado para cortar a imagem */
    position: relative;
    z-index: 0;
  }
  
  .title-page h1 {
    padding-bottom: 2rem;
    position: absolute;
    font-size: 3vw;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
  }

  @media (max-width: 768px) {
    .title-page h1 {
      font-size: 5vw;
    }
  }